<section class="wrapper hero-section">
  <div class="title-section">
    <img src="/assets/spendrlogo.png" alt="" />
    <h2>Welcome to Spendr</h2>
    <p>
      Your personal budget tracker that helps you take control of your spending
      and achieve your financial goals.
    </p>
  </div>
  <div class="button-group">
    <a class="btn btn-filled register-button" href="/auth/register">Create an
      account</a>
    <p>Already have an account?</p>
    <a class="btn signin-button" href="/auth/login">Sign In</a>
  </div>
</section>