<section class="wrapper forgot-section">
  <h2 class="page-title">Get help signing into your account</h2>
  <div class="page-tagline">Please enter your email address</div>
  <form action="/auth/forgot-password" method="post" class="login-form">
    <p class="message">
      {{#if message}}
      {{ message }}
      {{/if}}
    </p>
    <div class="input-group">
      <input type="email" name="email" placeholder="email" />
    </div>
    <button class="btn submit-btn btn-filled">Submit</button>
  </form>
  <div class="mt-sm">
    <a class="hero-button btn" href="/auth">Back</a>
  </div>
</section>