<section class="wrapper forgot-section">
    <h2 class="page-title">Reset Your Password</h2>
    <div class="page-tagline">Please enter a new address</div>
    <form action="/auth/forgot-password" method="post" class="login-form">
        <p class="message">
            {{#if message}}
            {{ message }}
            {{/if}}
        </p>
        <div class="input-group">
            <input type="password" name="password" placeholder="new password" />
        </div>
        <button class="btn submit-btn btn-filled">Submit</button>
    </form>
</section>