{{!-- Each transaction creates a row in the Transaction Table --}}
<tr>
  <th scope="row"></th>
  <td>${{transaction_amount}}</td>
  <td>{{category}}</td>
  <td>{{vendor_name}}</td>
  <td>{{format_date transaction_date}}</td>
</tr>