<section class="section center-section">
  <a href="/add-expense" class="btn">Add Expense</a>
</section>

<section class="section expenses-section">
  <div class="total-expenses">
    <h2 class="card-title">Total Expenses This Month</h2>
    <canvas id="totalExpenseChart"></canvas>
  </div>
  <div class="category-expenses" style="height: 350px">
    <h2 class="card-title">Top Spending Categories</h2>
    <canvas id="categoryExpenseChart"></canvas>
  </div>
</section>

<section class="section transaction-section">
  <h2 class="section-title">Transaction Activity</h2>
  <ul class="activity-ul" id="activityUL">
  </ul>
  <a href="/transactions">View More Transactions</a>
</section>

<script src="/js/dashboard.js"></script>