<section class="section add-expense-section">
  <h2>Add an Expense</h2>
  <form class="transaction-form">
    <div class="input-group">
      <input id="inputAmount" type="text" name="amount" placeholder="Amount" required />
    </div>
    <div class="input-group">
      <input id="inputDate" type="date" name="date" placeholder="Date" required />
    </div>
    <div class="input-group">
      <input id="inputPayee" type="text" name="payee" placeholder="Payee" required />
    </div>
    <div class="form-group col-md-4">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Category</label>
      <select id="inputCategory" class="form-control">
        <option selected>Miscellaneous</option>
        <option>Food and Dining</option>
        <option>Health and Fitness</option>
        <option>Entertainment</option>
        <option>Shopping</option>
        <option>Personal Care</option>
        <option>Transportation</option>
      </select>
    </div>
    <div class="input-group">
      <input id="inputDescription" type="text" name="description" placeholder="Description" />
    </div>
    <button type="submit" class="btn submit-btn btn-filled" id="createTransactionBtn">Create</button>
  </form>
</section>

<script src="/js/transaction.js"></script>